<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiPrivateKey</key>
	<string>b98e34786b448b37abe04a82eb0cb1aacd24e6cb</string>
	<key>apiPublicKey</key>
	<string>836a4c12d5c179fc138d4c1c432219a8</string>
</dict>
</plist>
